*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*::-webkit-scrollbar {
    display: none;
}

.title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.primary-title p{
    padding: 2px;
    font-size: 1.6rem;
} 

.primary-title p::first-letter {
    font-size: 2rem;
}

.secondary-title {
    width: 100%;
    border-bottom: 1px solid black;
}

.secondary-title p{
    padding: 2px;
    font-size: 1.2rem;
}

.secondary-title p::first-letter {
    font-size: 1.6rem;
}

.highlight {
    border: 1px solid black;
}

.highlight-with-child * {
    border: 1px solid black;
}

.tooltip-wrap {
    position: relative;
  }

.tooltip-wrap .tooltip-content {
    display: none;
    position: absolute;
    bottom: 5%;
    left: 5%;
    right: 5%;
    background-color: #fff;
    padding: .5em;
    min-width: 10rem;
}

.tooltip-wrap:hover .tooltip-content {
    display: block;
}