.primary-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.primary-title p{
    padding: 2px;
} 

.primary-title p::first-letter {
    font-size: 1.4em;
}

.highlight {
    border: 1px solid black;
}