@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.markdown > * {
    all: revert;
}

.markdown blockquote {
    margin: 0px;
    padding-left: 8px;
    border-left: 4px solid ;
}

.markdown blockquote * {
    display: block;
}

.markdown blockquote ul li::before {
    content: "•";
    display: inline-block;
    width: 1em;
  }